<!--Etiquetar Router necesario parauso de ion view 
permite a ionic enrutar correctamente el contenido
-->
 <ion-view>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
      	<div>{{welcome}}</div>
      	<input type="checkbox" name="" ng-model="dato1">
      	<input type="checkbox" name="" ng-model="dato2">
      	<h2 ng-show="dato1">Dato :1</h2>
      	<h2 ng-hide="dato2">Dato :2</h2>
      </ion-content>
    </ion-view>
    <!--

    -->